.add-pdt{
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-right: 15px;
    color: white;
    font-weight: bold;
    background-color: #2bc46e;
}

.btn-action{
    width: fit-content;
    background-color: #2bc46e;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 14px;
}