*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .grid-container {
        display: flex;
        width: 100%;
        background-color: #f7f8fc;
        gap: 20px;
        padding: 20px 30px;
        height: 100vh!important;
    }


    .main {
        width: 70%;
        background-color: #f7f8fc;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    
    .custom-active {
        background-color: #ebfaf1!important; 
        color: #2bc46e!important; 
    }
    
        
    .search-box{
        /* margin: 10px auto;  */
        background-color: #fefefe;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #2bc46e ;
       
    }
    .search-container {
        position: relative;
        width: 100%; 
        max-width: 175px; 
    }
    
    .search-input {
        width: 100%;
        padding: 10px 40px 10px 10px; 
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 10px;
    }
    
    .search-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: #999;
        cursor: pointer;
    }
       .nav-tab-link{
        color: #2bc46e!important;
       }
      
  

    .table-wrapper{
        border: 1px solid #2bc46e;
  width: 100%;
  margin-top: 10px;
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
    }

    .table-container{
        max-height:504px;
        overflow-y: scroll; 
    }
.table-content{
   /* overflow-y: scroll;  */
    margin-top: 40px;
}
      
   .header{
    background-color: #f1f1f1;
    font-weight: bold;
    position: absolute;
    width: 100%;
   }
      .header, .table-rows {
        border-bottom: 1px solid #ddd;
      }

      .table-rows:hover{
        background-color:#ebfaf1!important; 
        color: #2bc46e!important; 
        cursor: pointer!important;
      } 
      
      
      
      
      

    /* / ----------------------------------------------------order window style here-------------------------------------------------------------> / */
    .order-window{
        /* height: 100vh; */
        width: 29%;
        background-color: #f7f8fc;
        /* padding: 10px; */
       position: relative;
        transition: width 0.3s ease,opacity 0.3s ease;
       
    }

  
    .orders{
        border: none;
        outline: 1px solid #2bc46e;
        background-color: white;
        min-height: 590px;
       max-height: 590px;
        height: 100%; 
        border-radius: 10px;
        /* padding: 0px 5px; */
        padding-top:10px;
        /* overflow-y: auto; */
        display: flex;
        
        flex-direction: column; 
        justify-content: space-between;
       
    }
    
    .order-item{
        display: flex;
        position: relative;
    }

    .invoice-details{
        border: 1px dashed black;
       
    }


    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    .invoice-details {
      animation: fadeIn 0.5s ease-in-out;
    }
    
   
    
    
   
    
   

    


  

    
  

  
   
   

    
    
   

   
    
    
  

      .nav-item .nav-link{
        text-decoration: none;
        color: black;
      }
.invoice-details{
    border: 1px solid dashed black;
}