/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.login-main{
  display: flex;
  /* background-color: #fff; */
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background: rgb(255,255,255);
background: linear-gradient(86deg, rgba(255,255,255,1) 6%, rgba(241,246,252,1) 23%, rgba(203,222,244,1) 44%, rgba(169,201,237,1) 61%, rgba(148,187,233,1) 87%);
}

.login-main.illustration {
  /* flex: 1; */
  width: 50%;
  /* background-color:#fafafa; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-main.illustration img {
  width: 80%;
  height: auto;
}


.login-main.login-form {
  /* flex: 1; */
  /* background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% ); */
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  align-items: center;
  justify-content: center;
  /* background-color: #A5C9FF; */
}
.login-main.login-wrapper{
  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.login-main h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-main h1 span {
  color:#53d941;
  font-weight: bold;
}




.login-main .form{
  margin-top: 20px;
  
}



.login-main .input-group {
  margin-bottom: 15px;
}

.login-main .input-group label {
  display: block;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 5px;
  color: #555;
}

.login-main .input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}
/* input::placeholder{
  opacity: 0;
} */



.login-main .login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-main .login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;

  background: var(--primary);
  border: 0;
  box-shadow: 0 6px 0 var(--primary-dark), 0 5px 15px -4px #000;
  color: #fff;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out, margin-top 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

}

.login-main .login-btn:hover,
.login-main .login-btn:focus {
  opacity: 0.9;
  outline: 0;
}

.login-main .login-btn:active {
  box-shadow: none;
  margin-top: 6px;
}
:root{
  --primary: #25abd9;
  --primary-dark: #2090b7;
}


.login-main .toggle-password {
  position: absolute;
  right: 10px; 
  top: 68%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #3498DB;
  font-size: 20px;
}


.login-main .toggle-password:hover {
  color: #2980B9;
}