/* Main container for the login page */
.login {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the login screen box */
.login .login-screen {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;
}

/* App title styling */
.login .app-title {
  text-align: center;
  color: #FFF;
}

/* Styling for the login form */
.login .login-form {
  margin-top: 20px;
  text-align: center;
}

/* Wrapper for the input fields */
.login .control-group {
  margin-bottom: 10px;
  position: relative; /* Allows for absolute positioning of the password icon */
}

/* Input field styling */
.login input {
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px;
  width: 250px;
  transition: border 0.5s;
  padding-right: 40px; /* Space for the password toggle icon */
}

/* Input field on focus */
.login input:focus {
  border: 2px solid #3498DB !important;
  box-shadow: none;
  outline: none;
}

/* Styling for the login button */
.login .btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

/* Hover effect for login button */
.login .btn:hover {
  background-color: #2980B9;
}

/* Styling for the password toggle button (eye icon) */
.toggle-password {
  position: absolute;
  right: 10px; /* Aligns the icon inside the input */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #3498DB;
  font-size: 20px; /* Size of the eye icon */
}

/* Hover effect for password toggle icon */
.toggle-password:hover {
  color: #2980B9;
}

/* Lost password link styling */
.login .login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}
