*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .order-main{
        display: flex;
        flex-direction: column;
    }
    .main-navtab{
        width: 100%;
    }
    
    .grid-container {
        display: flex;
        width: 100%;
        background-color:#f7f8fc ;
        gap: 20px;
        padding: 20px 30px;
    }

    /* body{
        overflow: hidden;
    } */
   

    .navbar{
        grid-area: navbar;
      background-color: #ffffff;
      text-align: center;
    }
    .order-main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .main{
        width: 70%;
        background-color: #f7f8fc;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
      
    }
    
  
  
    
    .search-box{
        /* margin: 10px auto; */
        background-color: #fefefe;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #2bc46e ;
       
    }
    .search-container {
        position: relative;
        width: 100%; 
        max-width: 175px; 
    }
    
    .search-input {
        width: 100%;
        padding: 10px 40px 10px 10px; 
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 10px;
    }
    
    .search-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: #999;
        cursor: pointer;
    }

   .nav-tab-link{
    color: #2bc46e!important;
   }
  

    .table-wrapper{
        border: 1px solid #2bc46e;
  width: 100%;
  margin-top: 10px;
  min-height: 475px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
    }

    .table-container{
        max-height:504px;
        overflow-y: scroll; 
    }
.table-content{
   /* overflow-y: scroll;  */
    margin-top: 40px;
}
      
   .header{
    background-color: #f1f1f1;
    font-weight: bold;
    position: absolute;
    width: 100%;
   }
      .header, .rows {
        border-bottom: 1px solid #ddd;
      }

      /* .row:hover{
        background-color:#ebfaf1; 
        color: #2bc46e; 
        cursor: pointer;
      } */
      
      
      
      
      

    /* / ----------------------------------------------------order window style here-------------------------------------------------------------> / */
    .order-window{
        /* height: 100vh; */
        width: 29%;
        background-color: #f7f8fc;
        /* padding: 10px; */
       position: relative;
        transition: width 0.3s ease,opacity 0.3s ease;
       
    }

  
    .orders{
        border: none;
        outline: 1px solid #2bc46e;
        background-color: white;
        min-height: 590px;
       max-height: 590px;
        height: 100%; 
        border-radius: 10px;
        /* padding: 0px 5px; */
        padding-top:10px;
        /* overflow-y: auto; */
        display: flex;
        
        flex-direction: column; 
        justify-content: space-between;
       
    }
    
    .order-item{
        display: flex;
        position: relative;
    }
    
   
    .btn-cont{
        align-items: center;
       
    }
    .btn-counter {
        background-color: #2bc46e;
        color: white;
        padding: 5px;
    }

    
    .cardbody{
        background: transparent;
      padding: 2px;
    }

    .card-wrapper{
        border: 2px solid #a3a3a4;
        background-color:#f7f8fc ;
        margin-bottom: 5px;
        border-radius: 4px;
       
    }
    
    .btn-display{
        background-color: transparent;
        padding: 5px;
        border: none;
    }

    .btn-counter:hover{
        background-color: white;
        color: #2bc46e;
      
    }


    /* .order-lists{
        max-height: 100%;
        padding: 0;
        overflow-y: auto; 
         overflow-x: hidden; 
        position: relative;
    } */
    #order-list{
        height: 70%;
        max-height: 70%;
        overflow-y: auto;
        scrollbar-width: none; /* For Firefox */
        /* background-color: #2bc46e; */
    }
    #order-list::-webkit-scrollbar {
        display: none;
    }

    
    .order-summary{
        height: 30%;
       border-radius: 1px solid black;
       padding: 10px 20px;
        text-align: left;
        margin-bottom: 0;
    position: sticky;
   /* bottom: 73px; 
 width: 378px; 
  right:11px; */
  background-color: white;
  z-index: 107;
}

    .order-summary p{
        margin-bottom: 0px;
        font-size: 12px;
        padding: 0;
       
    }
    .confirm-btn{
        padding: 5px;
        font-size: 12px;
         width: 70%; 
        color: black;
        background-color: white;
        border-radius: 8px;
        border: none;
        /* border: 1px solid #2bc46e; */
    }
    /* .confirm-btn:hover{
        color: #2bc46e;
        background-color: #ebfaf1;
    } */
    .btn-final-green{
        color: white;
       
        background-color: #0bba63;
    }
    .btn-final-green:hover{
        background-color: green;
    }
    .btn-final-red{
        border: 1px solid red;
        color: red;
    }
    .btn-final-red:hover{
        background-color: red;
        color: white;
    }

    .confirm-btn-container{
       padding: 5px 10px; 
       margin-top: 10px;
       gap: 5px;
       
    }
    
    .title-order{
        font-size: 14px;
        margin-bottom: 0;
        font-weight: bold;
    }

    .title-order p{
        font-size: 14px;
        margin-bottom: 0;
    }

    .confirm-btn:disabled {
        background-color: #ccc; 
        color: #666; 
        cursor: not-allowed;
        border: none;
      }
    
  

      .nav-item .nav-link{
        text-decoration: none;
        color: black;
      }


      /* .nav-tabs {
        border-bottom: none; 
      }
      
      .nav-tabs .nav-link {
        border: none; 
      }
      
      .nav-tabs .nav-link.active {
        border: none !important; 
      } */
   
      .mini-calculator {
        width: 200px;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 8px;
      }
      
      .display {
        background-color: #333;
        color: white;
        font-size: 1.5rem;
        text-align: right;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
      }
      
      .buttons-calcu{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
      }
      
      .calcu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 12px;
        font-size: 14px;
        background-color: #08994f;
        color: #ffffff;
      }
      .calcu-btn p {
        margin-bottom: 0;
        margin-left: 5px; /* Adjust the space between icon and text */
      }
      
      .calcu-btn:hover {
        background-color: #0bba63;
    }
    .dropdown-calcu .dropdown-toggle::after{
        display: none;
    }

    /* .dropdown-menu{
        padding: 0;
        margin-top: 10px;
        border-radius: 10px; 
    } */


/* .dropdown-calcu{
    margin: 5px;
} */

.dropdown button{
    background-color: transparent;
    color: black;
    border: none;
}

.dropdown button:hover,
.dropdown button:focus,
.dropdown button:active,
.dropdown button.show {
    background-color: transparent !important;
    color: black;
    border: none;
    box-shadow: none; /* Remove any focus shadows */
}

.custom-active{
    background-color: #0bba63;
    color: white;
    border-bottom: 4px solid #0bba63!important;
}
.dropdown-menus {
    position: absolute;
    right: 120px; /* Align to the right */
   margin-top: 20px;
    background-color: #282c34;
    color: #61dafb;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Start invisible */
    /* transform: translateY(100%); */
    z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown-menus.show {
    /* animation: slideIn 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;  */
    opacity: 1;
    padding: 0px;
   
}

/* Keyframes for sliding in from the bottom */
/* @keyframes slideIn {
    0% {
        transform: translateY(100%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
} */

.drops .dropdown-toggle::after{
    display: none;
}

.drops
{
    background-color: #08994f;
    border-radius: 10px;
}


