*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr 400px;
        grid-template-rows: 60px 1fr auto;
        height: 100vh;
        grid-template-areas: 
            'side-nav navbar navbar navbar navbar navbar'
            'side-nav main main main main order-window'
            'side-nav footer footer footer footer footer';
        transition: grid-template-columns 0.3s ease; /* Transition for the grid */
    }
    
    .footer{
        grid-area: footer;
    }

    .side-nav{
        grid-area: side-nav;
    }

    .navbar{
        grid-area: navbar;
      background-color: #ffffff;
      text-align: center;
    }


    .main{
        
        background-color: #f7f8fc;
        grid-area: main;
        padding: 20px 50px;
    }
    
   
    
    .search-box{
        margin: 10px auto;
        background-color: #fefefe;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #2bc46e ;
       
    }
    .search-container {
        position: relative;
        width: 100%; /* Adjust the width as needed */
        max-width: 150px; /* Optional: to control the maximum width */
    }
    
    .search-input {
        width: 100%;
        padding: 10px 40px 10px 10px; /* Adds space for the search icon */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 10px;
    }
    
    .search-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: #999;
        cursor: pointer; /* Optional: adds a pointer effect to the icon */
    }

   .nav-tab-link{
    color: #2bc46e!important;
   }
  
    /* table */
    .table-wrapper{
        border: 1px solid #2bc46e;
  width: 100%;
  margin-top: 10px;
  min-height: 475px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
    }

      
   .header{
    background-color: #f1f1f1;
    font-weight: bold;
   }
      .header, .rows {
        border-bottom: 1px solid #ddd;
      }

      .row:hover{
        /* background-color:#ebfaf1; */
        /* color: #2bc46e; */
        cursor: pointer;
      }
      
      
      
      
      

    /* ----------------------------------------------------order window style here-------------------------------------------------------------> */
    .order-window{
        grid-area: order-window;
        height: 100%;
        background-color: #f7f8fc;
        padding: 10px;
       
        transition: width 0.3s ease,opacity 0.3s ease;
       
    }
    .orders{
        border: none;
        outline: 1px solid #2bc46e;
        background-color: white;
        min-height: 600px;
       max-height: 600px;
        border-radius: 10px;
        padding: 0px 30px;
        padding-top:30px;
        
        overflow-y: auto;
        display: flex;
        position: relative;
        flex-direction: column; /* Stack items vertically */
        justify-content: space-between;
       
    }
    
    .order-item{
        display: flex;
        position: relative;
    }
    
   
    .btn-cont{
        gap: 10px;
        align-items: center;
       
    }
    .btn-counter {
        background-color: #2bc46e;
        color: white;
        padding: 10px;
        border-radius: 15px;
       
    }

    .btn-counter:hover{
        background-color: white;
        color: #2bc46e;
      
    }
    
    .confirm-btn{
        padding: 5px;
        font-size: 12px;
        width: 90%;
        color: black;
        background-color: white;
        border-radius: 8px;
        border: none;
        border: 1px solid #2bc46e;
    }
    .confirm-btn:hover{
        color: #2bc46e;
        background-color: #ebfaf1;
    }

    .confirm-btn-container{
       padding: 5px 10px;
       
    }
    
    .title-order{
        font-size: 14px;
        margin-bottom: 0;
        font-weight: bold;
    }

    .title-order p{
        font-size: 14px;
        margin-bottom: 0;
    }
    
    
      

