
.side-link  li a {
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    border-left: 4px solid transparent;
    line-height: 50px;
}

.side-link{
  margin-top: 5%;
}




.side-link li a span {
    margin-right: 10px; /* Space between the icon and text */
}

/* Hover effect */
.side-link li a:hover {
   background-color: #ebfaf1!important;
    transition: 0.5s;
    color: #2bc46e !important ;
    border-left-color: #2bc46e ;
}



#sidebar {
  background:#ffffff;
  transition: all 0.5s ease;
  height: 100vh;
}

#sidebar .side-link li{
  height: auto;
}


#sidebar .sidebar-header {
    padding: 20px 0px;
    background: linear-gradient(135deg,#13be59 0%, #11bc49 9%,#67cf74 36%,#71d175 60%,#afeaa2 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent !important;

}
#sidebar ul li{
  margin-top: 15px;
}
#sidebar ul .orders-sub li{
  margin-top: 0;
}
#sidebar ul .product-sub li{
  margin-top: 0;
}

#sidebar ul li a{
    font-size: 1.0em;
    display: block;
    padding-left: 10%;
}

/* #sidebar.active{               
    margin-left: -200px;
} */


  .side-link .collapse li {
    background-color: #ffffff;
  }
  
  .side-link .collapse li a {
    cursor: pointer; /* Indicate that the item is clickable */
    text-align: center;
    font-size: 0.1em;
  }
  
  .side-link .collapse li a:hover {
    background-color: #dbdbdb!important;
     transition: 0.5s;
     color: #2bc46e !important ;
     border-left-color: #2bc46e ;
  }
  
  /* Hover effect for the orders */
  #ordersDropdown:hover, #ordersDropdown.active {
    background-color: #ebfaf1!important;
      transition: 0.5s;
      color: #2bc46e !important ;
      border-left-color: #2bc46e ;
  }
  
  /* Initially hidden dropdown */
  #ordersMenu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease !important;
  }
  
  
  #ordersMenu.show {
    height: auto;
    opacity: 1;
    transition: 0.5s; 
  }



  
  /* Hover effect for the Product */
  #productsDropdown:hover, #productsDropdown.active {
    background-color: #ebfaf1!important;
      transition: 0.5s;
      color: #2bc46e !important ;
      border-left-color: #2bc46e ;
  }
  
  /* Initially hidden dropdown */
  #productsMenu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease !important;
  }
  
  
  #productsMenu.show {
    height: auto;
    opacity: 1;
    transition: 0.5s; 
  }



  
  /* Default state of the dropdown icon */
.dropdownicon {
  transition: transform 0.5s ease; /* **Smooth transition for rotation** */
  margin-left: 5px;
}

/* When the dropdown is open, rotate the icon 180 degrees */
.dropdownicon.rotate {
  transform: rotate(180deg);
}







  
